body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.pokedex__container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  --default-font-size: 1rem;
  --pokedex-border-color-primary: #FF0000;
  --pokedex-border-color-secondary: #000000;
  --pokedex-border-radius: 6px;
}

.pokedex__content {
  display: flex;
  flex-flow: row;
  gap: 5rem;
  width: 100%;
  justify-content: center;
  /* max-width: 300px; */
  /* padding: 1rem; */
}

.pokedex__search-input {
  margin-bottom: 1rem;
  padding: .5rem 1rem .5rem 1rem;
  font-size: var(--default-font-size);
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.pokedex__search-input input {
  box-sizing: border-box;
  padding: .25rem 2px .25rem 2px;
  width: 100%;
}

.pokedex__search-results {
  list-style: none;
  border: 2px solid var(--pokedex-border-color-primary);
  border-radius: var(--pokedex-border-radius);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  max-height: 70vh;
  /* gap: .5rem; no gap needed here */
}

.pokedex__search-results::-webkit-scrollbar {
  display: none;
}

.pokedex__list-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: var(--default-font-size);
}

.pokedex__list-content {
  box-sizing: border-box;
  display: flex;
  /* I would suggest space-between is better visually, but mockup want space-around. */
  justify-content: space-around;
  flex-flow: row;
  width: 100%;
  padding: 1.5rem 1rem;
}

/* this could also be done with just a border bottom,
but I wanted to show different things I know about css */
.pokedex__list-item::after {
  display: flex;
  content: '';
  width: 100%;
  border-bottom: 1px solid var(--pokedex-border-color-secondary);
}

.pokedex__details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  border: 2px solid var(--pokedex-border-color-secondary);
  border-radius: var(--pokedex-border-radius);
}

.pokedex__details-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.pokedex__details-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#pokedex__details-evolutionChain {
  list-style-type: none;
  font-style: italic;
  display: flex;
  flex-flow: row;
  gap: .5rem;
  padding: 0px;
}

#pokedex__details-sprite {
  width: 100%;
  max-width: 200px;
  max-height: 100%;
  height: 200px;
}